#div1{
    height: 500px;
    border: 1px solid grey;
    background-image: linear-gradient(green, blue, red);/* top to bottom */
}

#div2{
    height: 500px;
    border: 1px solid grey;
    background-image: linear-gradient(150deg, green, blue, red);/*to right for right to left */
}

/* radial graidient */
#div3{
    height: 500px;
    border: 1px solid grey;
    background-image: radial-gradient(circle, green 20%, blue 30%, red 50%);
}
