#content{
    width: 70%;
    background-color: green;
    height: 200px;
    float: left;
}

#sidebar{
    width: 30%;
    background-color: indianred;
    height: 150px;
    float: left;
}

#footer{
    background-color: yellowgreen;
    clear: both;
}