#div1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 100px;

    /* transition-property: width; */
    /* transition-duration: 1s; */
    /* transition-delay: 500ms; */
    /* transition-timing-function: ease-in-out; */

    transition: width 1s ease 500ms; /* property duration timing-function delay */
}

#div1:hover{
    background-color: green;
    width: 200px;
}