#div1{
    width: 70%;
    float: left;
    background-color: lawngreen;
}

#div2{
    width: 30%;
    float: left;
    background-color: rosybrown;
}

h1{
    font-size: 80px;
}

@media screen and (max-width: 768px){
    #div1{
        width: 50%;
    }
    #div2{
        width: 50%;
    }
}

@media screen and (max-width: 400px){
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
        color: white;
        background-color: black;
    }
}
